<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer section-container">
    <div class="footer-max-width max-content-container">
      <div class="footer-bottom-container">
        <div class="footer-container">
          <div class="footer-left-side">
            <div class="footer-social-media">
              <span class="footer-text">მოგვყევით</span>
              <div class="footer-container1">
                <a
                  href="https://www.linkedin.com/company/autospace/about/"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="footer-link"
                >
                  <svg viewBox="0 0 1024 1024" class="footer-icon">
                    <path
                      d="M384 384h177.106v90.782h2.532c24.64-44.194 84.958-90.782 174.842-90.782 186.946 0 221.52 116.376 221.52 267.734v308.266h-184.61v-273.278c0-65.184-1.334-149.026-96.028-149.026-96.148 0-110.82 70.986-110.82 144.292v278.012h-184.542v-576z"
                    ></path>
                    <path d="M64 384h192v576h-192v-576z"></path>
                    <path
                      d="M256 224c0 53.019-42.981 96-96 96s-96-42.981-96-96c0-53.019 42.981-96 96-96s96 42.981 96 96z"
                    ></path>
                  </svg>
                </a>
                <a
                  href="https://www.facebook.com/Autospacetbilisi"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="footer-link1"
                >
                  <svg viewBox="0 0 1024 1024" class="footer-icon4">
                    <path
                      d="M608 192h160v-192h-160c-123.514 0-224 100.486-224 224v96h-128v192h128v512h192v-512h160l32-192h-192v-96c0-17.346 14.654-32 32-32z"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="footer-container2">
            <div class="footer-container3">
              <span class="footer-text01">ტელეფონი</span>
              <a href="tel:+995 577 64 83 58" class="footer-text02">
                <span>+995 577 64 83 58</span>
                <br />
              </a>
            </div>
          </div>
        </div>
        <div class="footer-links">
          <div class="footer-container4">
            <span class="footer-link">ჩვენს შესახებ</span>
            <span class="footer-link">პროექტები</span>
            <span class="footer-link">ჩვენს შესახებ</span>
            <span class="footer-link">ბლოგი</span>
            <span class="footer-link">კონტაქტი</span>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <span class="footer-text10">
          © 2023 autospace.ge ყველა უფლება დაცულია
        </span>
      </div>
    </div>
  </footer>
</div>
