<div>
  <link href="./footer1.css" rel="stylesheet" />
  <div class="footer1-footer section-container">
    <div class="footer1-max-width">
      <div class="footer1-container">
        <div class="footer1-top-part">
          <div class="footer1-links-container">
            <div class="footer1-product-container">
              <span class="footer1-text"><span>ნავიგაცია</span></span>
              <a href="index.html" class="footer1-navlink">
                <span>მთავარი</span>
              </a>
              <a href="reconstruction.html" class="footer1-navlink1">
                <span>ჩვენს შესახებ</span>
              </a>
              <a href="reconstruction.html" class="footer1-navlink2">
                <span>პროექტები</span>
              </a>
              <a href="blog.html" class="footer1-navlink3">
                <span>ბლოგი</span>
              </a>
            </div>
            <div class="footer1-contact-container">
              <span class="footer1-text01"><span>მისამართი</span></span>
              <span class="footer1-text02">
                <span>მ. ნოზაძის #46ა</span>
                <br />
                <span>მუხიანი</span>
                <br />
                <span>თბილისი</span>
                <br />
              </span>
              <a href="tel:+995 577 64 83 58" class="footer1-link">
                <span>+995 577 64 83 58</span>
              </a>
            </div>
            <div class="footer1-navigate-container">
              <span class="footer1-text09"><span>მოგვყევით</span></span>
              <div class="footer1-container1">
                <a
                  href="https://www.facebook.com/Autospacetbilisi"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="footer1-link1"
                >
                  <svg viewBox="0 0 1024 1024" class="footer1-icon">
                    <path
                      d="M608 192h160v-192h-160c-123.514 0-224 100.486-224 224v96h-128v192h128v512h192v-512h160l32-192h-192v-96c0-17.346 14.654-32 32-32z"
                    ></path>
                  </svg>
                </a>
                <a
                  href="https://www.linkedin.com/company/autospace/about/"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="footer1-link2"
                >
                  <svg viewBox="0 0 1024 1024" class="footer1-icon2">
                    <path
                      d="M384 384h177.106v90.782h2.532c24.64-44.194 84.958-90.782 174.842-90.782 186.946 0 221.52 116.376 221.52 267.734v308.266h-184.61v-273.278c0-65.184-1.334-149.026-96.028-149.026-96.148 0-110.82 70.986-110.82 144.292v278.012h-184.542v-576z"
                    ></path>
                    <path d="M64 384h192v576h-192v-576z"></path>
                    <path
                      d="M256 224c0 53.019-42.981 96-96 96s-96-42.981-96-96c0-53.019 42.981-96 96-96s96 42.981 96 96z"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="footer1-map-container">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1081.3259952703932!2d44.83012164692676!3d41.78912608184667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40446d5ded891ebb%3A0x939f0079f063411d!2z4YOQ4YOV4YOi4YOd4YOh4YOU4YOg4YOV4YOY4YOh4YOY!5e0!3m2!1sen!2sge!4v1692228272420!5m2!1sen!2sge"
              class="footer1-iframe"
            ></iframe>
          </div>
        </div>
        <div class="footer1-separator"></div>
        <div class="footer1-copyright">
          <span class="footer1-text10">
            <span>© 2023 autospace.ge ყველა უფლება დაცულია</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
