<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="index.html" class="navigation-links-navlink Navigation-Link">
      <span>მთავარი</span>
    </a>
    <a
      href="reconstruction.html"
      class="navigation-links-navlink1 Navigation-Link"
    >
      <span>ჩვენს შესახებ</span>
    </a>
    <a
      href="reconstruction.html"
      class="navigation-links-navlink2 Navigation-Link"
    >
      <span>პროექტები</span>
    </a>
    <a href="blog.html" class="navigation-links-navlink3 Navigation-Link">
      <span>ბლოგი</span>
    </a>
  </nav>
</div>
